<nav class="navbar" role="navigation" aria-label="main navigation">
  <a class="navbar-item" href="/">
      <%= image_tag("mtfv.png") %>
  </a>

  <a class="navbar-item" href="/">
    Ligen
  </a>
  <a class="navbar-item" href="<%= lifetime_path %>">
    Lifetime Stats
  </a>
</nav>
