@import "bulma";


a:link, a:active, a:hover, a:visited {
  color: #009e6c;
}

a.up-arrow {
  padding: 5px 20px;
  position: fixed;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  i {
    border: solid #4a4a4a;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  span {
    display: block;
    color: #4a4a4a;
    font-size: 11px;
    margin-top: -7px;
  }
}

tr td:nth-child(2) {
  width: 30%;
}

#search {
  display: inline-block;
  width: 400px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
